/* styles */
/* called by your view template */

body, html {
  width: 100%;
  height: 100%;
}

#whiteout {
  position: fixed;
  width: 100%;
  height: 100%;
/*   background-color: rgba(255, 255, 255, 0.6); */
}


/* Styles for menu */
#menu {
  position: fixed;
  right: 40px;
  bottom: 100px;
  /* width: 100%;
  max-width: 300px; */
  background-color: rgba(200, 200, 200, 0.8);
  padding: 20px;
  color: #000;
  text-align: center;
}

.menu-item {
  color: #000;
  /* background-color: #fff; */
}
/* Styles for bottom bar */

#bottom-bar {
  position: fixed;
  height: 80px;
  background-color: rgba(200, 200, 200, 1.0);
  bottom: 0px;
  width: 100%;
  border-top: solid black 2px;
}

#logo-alcaldia {
  position: fixed;
  bottom: 2px;
  right: 15px;
  height: 50px;
}
#Beca1 {
  position: fixed;
  top: 460px;
  right: 10px;
  height: 200px;
}
#Beca2 {
  position: fixed;
  top: 640px;
  right: 10px;
  height: 120px;
}
#Beca3 {
  position: fixed;
  top: 780px;
  right: 10px;
  height: 120px;
}
#Residencia {
  position: fixed;
  top: 920px;
  right: 10px;
  height: 120px;
}

.button-holder {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: 20px;
  padding: 8px;
}

.audio-player-button {
  width: 100%;
  height: 100%;

}

.play-button {
  background: url(./images/play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pause-button {
  background: url(./images/pause.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.container {
  width: 100%;
  height: 100%;
}

#logo {
  width: 100%;
  height: calc(100% - 80px);
/*   height: 100%; */
  background: url(./images/ckweb_negro_part.svg);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 10px;
  margin-right: auto;
}


/* styles for hydra canvas */

#hydra {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Styles for scrolling text */

#scroll-text {
  height: 20px;
  width: 100%;
  font-size: 12px;
  color: white;
  background-color: black;
}

#inner-scroll {
 position: absolute;
/*  width: 100%; */
/*  height: 100%; */
 margin: 0;
 line-height: 20px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(0%);
 -webkit-transform:translateX(0%);
 transform:translateX(0%);
 /* Apply animation to this element */
 -moz-animation: scroll-right 24s linear infinite;
 -webkit-animation: scroll-right 24s linear infinite;
 animation: scroll-right 24s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-right {
 0%   { -moz-transform: translateX(500%); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes scroll-right {
 0%   { -webkit-transform: translateX(500%); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes scroll-right {
 0%   {
 -moz-transform: translateX(500%); /* Browser bug fix */
 -webkit-transform: translateX(500%); /* Browser bug fix */
 transform: translateX(500%);
 }
 100% {
 -moz-transform: translateX(-50%); /* Browser bug fix */
 -webkit-transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%);
 }
}
