/* styles */
/* called by your view template */

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?31485008');
  src: url('font/fontello.eot?31485008#iefix') format('embedded-opentype'),
       url('font/fontello.woff2?31485008') format('woff2'),
       url('font/fontello.woff?31485008') format('woff'),
       url('font/fontello.ttf?31485008') format('truetype'),
       url('font/fontello.svg?31485008#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

html {
  overflow: hidden;
}

body {
  font-family: 'Inconsolata', monospace;
}

.anuncios {
  height: 100%;
  width: auto;
  padding: 10px;
}

body, html {
  width: 100%;
  height: 100%;
}

#whiteout {
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
/*   background-color: rgba(255, 255, 255, 0.6); */
}


/* Styles for menu */
#menu {
  position: fixed;
  right: 40px;
  bottom: 100px;
  /* width: 100%;
  max-width: 300px; */
  background-color: rgba(200, 200, 200, 0.8);
  padding: 20px;
  color: #000;
  text-align: center;
}

.menu-item {
  color: #000;
  /* background-color: #fff; */
}
/* Styles for bottom bar */

#bottom-bar {
  position: fixed;
  height: 80px;
  background-color: rgba(255,255,255,0.9);
  bottom: 0px;
  width: 100%;
  bottom: 10px;
}

#logo-alcaldia {
  position: fixed;
  bottom: 28px;
  right: 15px;
  height: 40px;
}
#myData{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 130px;
  text-transform: lowercase;
  font-family: 'Inconsolata', monospace;
  transform: translateY(-50%);
}
#facebook {
  position: absolute;
  bottom: 85px;
  left: 50px;
  height: 40px;
}
#youtube {
  position: fixed;
  bottom: 85px;
  left: 105px;
  height: 40px;
}
#instagram{
  position: fixed;
  bottom: 85px;
  left: 160px;
  height: 40px;
}
#twitter{
  position: fixed;
  bottom: 85px;
  left: 215px;
  height: 40px;
}
#airtime{
  position: fixed;
  bottom: 85px;
  left: 270px;
  height: 40px;
}
#playData{
  position: fixed;
  bottom: 85px;
  left: 200px;
  height: 140px;
}
iframe {
    border: 1px solid black;
    width: 100%;

}

.button-holder {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: -10px;
  border: 5px solid white;
  border-radius: 50px;
  background: black;
  position: relative;
}

.audio-player-button {
  width: 100%;
  height: 100%;

}

.play-button, .pause-button {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.play-button:before {
  font-family: 'fontello';
  content: '\E800';
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  line-height: 90px;
  font-size: 2em;
}

.pause-button:before {
  font-family: 'fontello';
  content: '\E801';
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  line-height: 90px;
  font-size: 2em;
}

.pause-button {
  /* background: url(./images/pause.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}


.containerOtro {
  width: 100%;
  height: 100%;
}

#logo {
  width: 100%;
  height: 100vh;
/*   height: 100%; */
  background: url(./images/ckweb_negro_part.svg);
  background-size: auto 100%;
  background-position: left center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 10px;
  margin-right: auto;
}

.sociales {
  position: fixed;
  display: flex;
  top: 10px;
  justify-content: space-between;
  width: 100%;
}

.sociales .inside {
  background: white;
  display: flex;
  align-content: flex-start;
  border-radius: 5px;
  height: 40px;
  margin-right: 10px;
}

.sociales .item{
  width: 40px;
  height: 40px;
  font-family: 'fontello';
  position: relative;
  cursor: pointer;
}

.sociales .item:before {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1em;
}

.sociales .item.facebook:before {
  content: '\F09A';
}

.sociales .item.twitter:before {
  content: '\F099';
}

.sociales .item.ytube:before {
  content: '\F167';
}

.sociales .item.instagram:before {
  content: '\F16D';
}

.sociales .item.podcast:before {
  content: '\F2CE';
}


.aviso {
  background: white;
  max-width: 300px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 0.75em;
  padding-left: 50px;
  position: relative;
  cursor: pointer;
}

.aviso:hover {
  background: black;
  color: white;
}

.aviso:hover:before {
  border-left-color: white;
  border-right-color: white;
}

.aviso:before {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  content: '';
  margin-top: -10px;
  border: .2em solid transparent;
	border-left-color: #dc5353;
	border-right-color: #dc5353;
	border-radius: 50%;
	animation: 1s loader-02 linear infinite;
}

@keyframes loader-02 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



/* styles for hydra canvas */

#hydra {
  width: 100%;
  height: calc(100vh);
  position: absolute;
  top: 0px;
  left: 0px;
}


#videoPlayer {
  position: absolute;
  z-index: 2;

}

#videoPlayer.isready {
  display: block;
}

/* Styles for scrolling text */

#scroll-text {
  height: 20px;
  width: 100%;
  font-size: 12px;
  color: ite;
  background-color: black;
  font-family: 'Inconsolata', monospace;
}

#inner-scroll {
 position: absolute;
/*  width: 100%; */
/*  height: 100%; */
 margin: 0;
 line-height: 20px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(0%);
 -webkit-transform:translateX(0%);
 transform:translateX(0%);
 /* Apply animation to this element */
 -moz-animation: scroll-right 24s linear infinite;
 -webkit-animation: scroll-right 24s linear infinite;
 animation: scroll-right 24s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-right {
 0%   { -moz-transform: translateX(500%); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes scroll-right {
 0%   { -webkit-transform: translateX(500%); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes scroll-right {
 0%   {
 -moz-transform: translateX(500%); /* Browser bug fix */
 -webkit-transform: translateX(500%); /* Browser bug fix */
 transform: translateX(500%);
 }
 100% {
 -moz-transform: translateX(-50%); /* Browser bug fix */
 -webkit-transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%);
 }
}
