#container_video {
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0);
    /*background-image: url('./images/haraway.jpg');*/
    background-position: center;
    background-size: cover;
}

#container_video .video {
    background: rgba(9, 75, 255, 0.8);
    color: white;
    font-family: Inconsolata;
    padding: 2em;
    width: 700px;
    max-width: 700px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
}

#container_video .video .btn {
    border: 2px solid white;
    color: white;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: all 0.25s ease;
    text-decoration: none;
}

#container_video .texto .btn:hover {
    background: white;
    color: black;
}

#frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
}

#frame iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}