#container {
    width: 100%;
    height: 150vh;
    background: rgba(54, 54, 54);
    /*background-image: url('./images/haraway.jpg');*/
    background-position: center;
    background-size: cover;
   
    text-align: center;
    position: relative;
    font-family: Inconsolata;
    padding: 2em;
}

#container .info {
    background: rgba(54, 54, 54); 
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}
