@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

@font-face {
font-family: 'icons';
src: url('./font/fontello.eot?70542444');
src: url('./font/fontello.eot?70542444#iefix') format('embedded-opentype'),
        url('./font/fontello.woff2?70542444') format('woff2'),
        url('./font/fontello.woff?70542444') format('woff'),
        url('./font/fontello.ttf?70542444') format('truetype'),
        url('./font/fontello.svg?70542444#fontello') format('svg');
font-weight: normal;
font-style: normal;
}

body {
    background: #161616;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

/* PLAYER */

.right {
display: flex;
height: 100vh;
width: calc(100% - 325px);
justify-content: center;
align-items: center;
align-content: center;
flex-wrap: wrap;
position: relative;
overflow: hidden;
}
.right .relative {
position: relative;
}
.right #canvas_player, .right .backImg {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.right .backImg {
background-size: cover;
background-position: center;
background-image: url('./background.jpg');
}

.right .playerContainer {
width: 100%;
display: none;
}
.right .playerContainer .backImg {
background-size: cover;
background-position: center;
background-image: getId('0');
}
.right .playerContainer .play {
width: 50px;
height: 50px;
border-radius: 200px;
border: 2px solid white;
margin: 0 auto;
}
.right .playerContainer .time {
width: 100px;
background: white;
border-radius: 3px;
margin: 0 auto;
margin-top: 10px;
text-align: center;
padding: 5px;
color:  #343434;
font-size: 0.75em;
}
.right .playerContainer .line {
height: 50px;
position: relative;
cursor: pointer;
}
.right .playerContainer .line .total {
height: 1px;
background: #999;
top: 50%;
transform: translate(0, -50%);
position: absolute;
width: 100%;
}
.right .playerContainer .line .current {
height: 5px;
width: 0%;
background: rgb(255, 141, 141);
top: 50%;
transform: translate(0, -50%);
position: absolute;
}
/*.right .playerContainer .back {
    width: 1000%;
    margin-left: 5%;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    color: white;
    background-size: cover;
    background-position: center;
    background-image: url('./background2.jpg');
    }*/
.right .playerContainer .subsContainer {
position: absolute;
width: 100%;
height: 100%;
}
.right .playerContainer .subsContainer div {
position: absolute;
width: 1px;
height: 50%;
top: 0;
transform: translate(-50%, 0);
background: #999;
cursor: pointer;
}
.right .playerContainer .subsContainer div span {
position: absolute;
width: 10px;
height: 10px;
top: -10px;
left: 50%;
transform: translate(-50%, 0);
background: white;
border-radius: 20px;
}
.right .playerContainer .notice {
width: calc(90% - 20px);
margin-left: 5%;
margin-bottom: 50px;
text-align: center;
padding: 10px;
border-radius: 3px;
color: white;
}
.right .playerContainer .notice a {
color: #999;
}
.right .playerContainer .notice a:hover {
color: #161616
}
/*.right .playerContainer.active {
display: block;
background-size: cover;
background-position: center;
background-image: url('./background2.jpg');

}*/


/* PLAYLIST */

.left {
/*color: rgb(255, 255, 255);*/
background: #f0f0f0;
display: block; /*esto funcionó para el scroll y mostrar completo*/
width: 325px;
flex-wrap: wrap;
align-items: center;
align-content: center;
position: fixed;
top: 0;
right: 0;
height: 100%;
border-left: 1px solid #999;
overflow: scroll;
}

.left .link {
    padding: 0px;
    color: rgb(202, 110, 214);
    }
  
.left .top {
padding: 3px;
color: rgb(34, 34, 34);
text-align: center;
}
.left .top img {
max-width: 80px;
display: block;
margin: 0;
margin-bottom: 10px;
}
.left > .top {
padding: 10px;
}
.left .item {
width: 100%;
border-bottom: 1px solid #999;
}
.left .item:nth-child(2) {
border-top: 1px solid #999;
}
.left .item .des {
font-size: 1em;
margin-top: 10px;
color: #343434;
display: none;
}
.left .item .top {
display: flex;
align-items: center;
}

/* Va por aquí... */
.left .item.active .top {
background: #cfcfcfee;
background-size: cover;
background-position: center;
background-image: url();

    }
.left .item .top .name {
font-size: 1em;
margin-left: 10px;
margin-right: 5px;
width: calc(100% - 40px);
text-align: justify;
}
.left .item .top .name .description {
font-size: 0.8em;
margin-left: 10px;
margin-right: 6px;
width: calc(100% - 40px);
color: #343434;
text-align: justify;
}
.left .item .top .icon {
width: 40px;
height: 40px;
border-radius: 50px;
border: 1px solid rgb(34, 34, 34);
cursor: pointer;
transition: all 0.25s ease;
position: relative;
text-align: left;
}
/*.left .item .top .icon:hover, .left .item.active .top .icon {
width: 400px;
height: 400px;
background: #444;
background-size: cover;
background-position: center;
background-image: url('data-url2');
}*/
.left .item .top .icon::before {
font-family: 'icons';

line-height: 40px;
text-align: center;
width: 100%;
position: absolute;
content: '\E800';
font-size: 0.7em;
}
.left .item.active .top .icon::before {
content: '\e801';
}

.left .item.active .top .icon:not(.playing)::before {
    content: '\E800';
    }
  