#container_form {
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0);
    /*background-image: url('./images/haraway.jpg');*/
    background-position: center;
    background-size: cover;
}

#container_form .form {
    background: rgba(38, 32, 44, 0.8); 
    color: white;
    font-family: Inconsolata;
    padding: 2em;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
}


#container_video .texto .btn:hover {
    background: white;
    color: black;
}

#frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
}

#frame iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}